<div class="project">

    <div class="name"><%= this.XSSEscape(this.name) %></div>
    <div class="votes">Голосов: <%= this.score %></div>
    <%= this.DeferRender('Projects/get_servers?id='+this.id) %>
</div>