<div>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/css/jquery.qtip.min.css"/>
<link type="text/css" rel="stylesheet" href="/css/MCTop.css"/>
</div>

<%
this.Defer(function()
{
  to_head = this.first().children().detach();
  $('head').append(to_head);
})
%>