<%/*

//define('ROOT_DIR', __DIR__);
//require_once 'core/bootstrap.php';
//if(sizeof($_POST)>0)
//    Core::log_post_request();
*/%>

<%= this.DeferRender('main/head', {}) %>

<%= this.DeferRender('Main/navbar_links') %>

<div class="faq_button">
    <a class="btn btn-primary" href="/Main/faq">FAQ</a>
</div>

<div class="content">
    <%= this.DeferRender('main/utils/breadcrumbs/canvas', {}) %>
    <div id="phoxy_canvas">
    </div>
</div>

<%= this.DeferRender('main/foot', {}) %>