<h1><span class="glyphicon glyphicon-lock"></span> Сохранение аккаунта</h1>
<hr>

<div class="jumbotron">
    <h1>Мы рады видеть тебя!</h1>
    <p>Но знай. Твой аккаунт и все его действия удалятся через неделю, если не авторизироваться как следует.</p>
</div>