<div class="form-group">
    <input type="text" class="form-control" value='<a href="http://online.mctop.im/vote/<%= this.id %>"><img src="http://online.mctop.im/static/banners/<%= this.index %>.png"/></a>'>
    <p class="help-block"><img src='http://online.mctop.im/static/banners/<%= this.index %>.png'/></p>
</div>

