<div style='text-align: center;'>Авторизация в vk.com => mctop.im</div>
<div class='center' style='background-color: gray;'>
    <div class='vk_example'>
        <div class='head'>
            
        </div>
        <div class='body'>
            <span>
                Сейчас мы попытаемся авторизироваться через ВК. Вы увидите окно, похожее на это.
            </span>
            <span>
                Нам необходимо:
            </span>
            <div class='permissions'>
                <span>
                    <b>Доступ к данным профиля и обновлению статусной строки</b>
                    <i>Что бы мы могли отображать ваше имя и статус в системе</i>
                </span>
                <span>
                    <b>Доступ к электронному адресу</b>
                    <i>Что бы вам не пришлось вводить его еще раз вручную</i>
                </span>
            </div>
        </div>
        <div class='tail'>
            <a class='btn' href="<%= this.vk_url %>">Авторизироваться</a>
        </div>
    </div>
</div>