<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#home" role="tab" data-toggle="tab">Основные сведения</a>
    </li>

    <% if (this.info.features !== null){%>
    <li>
        <a href="#features" role="tab" data-toggle="tab">Преимущества</a>
    </li>
    <%}%>

    <% if(this.info.map_url) {%>
    <li><a href="#map" role="tab" data-toggle="tab">Карта сервера</a></li>
    <%}%>

    <% if(this.info.video_trailer_url != 'MmB9b5njVbA') {%>
    <li><a href="#trailer" role="tab" data-toggle="tab" style="background-color: #CEFAFA">Трейлер сервера</a></li>
    <%}%>
</ul>