<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#home" role="tab" data-toggle="tab">Основные сведения</a>
    </li>
    <li>
        <a href="#features" role="tab" data-toggle="tab">Преимущества</a>
    </li>

    <li><a href="#map" role="tab" data-toggle="tab">Карта сервера</a></li>


    <li><a href="#trailer" role="tab" data-toggle="tab">Трейлер сервера</a></li>
</ul>