<h1>Смена нике на сервере <%= this.XSSEscape(this.info.name) %></h1><hr>

<form role="form" method="post" action = "">
    <div class="form-group">
        <input name="nickname" class="form-control" placeholder="Новый ник на сервере"/>
    </div>
    <input type="submit" class="btn btn-success" value="Сохранить изменения">
</form>
