<h1><span class="glyphicon glyphicon-lock"></span> Регистрация</h1>
<hr>

<div class="jumbotron">
    <h1>Здравствуй, друг!</h1>
    <p>Для создания аккаунта на нашем сайте тебе необходимо просто нажать кнопку "Создать аккаунт", все остальное система сделает сама</p>
    <p><a class="btn btn-primary btn-lg" role="button">Создать аккаунт</a></p>
</div>
