<ol class="breadcrumb">
    <li class="active">
        Панель управления
    </li>
</ol>

<h1><span class="glyphicon glyphicon-plane"></span> Панель управления</h1><hr>

<div class="control_panel">

    <a href="/ControlPanel/project_create&mode=1" class="btn btn-primary"> <span class="glyphicon glyphicon-folder-close"></span> Регистрация проекта</a>
    <a href="/Faq" class="btn btn-primary"> <span class="glyphicon glyphicon-leaf"></span> Помощь по сайту</a>

    <div class="projects">
        <h1>Проекты</h1>

        <% for(k in this.user_projects) {%>
        <% v = this.user_projects[k]%>
        <%= this.DeferRender('control_panel/project', v) %>

        <%}%>

    </div>

</div>