<div class="project">

    <div class="name">
        <a href="/ControlPanel/project_info&id=<%= this.id %>"> <span class = "glyphicon glyphicon-folder-close"></span> <%= this.XSSEscape(this.name) %></a>
    </div>

</div>